
.Navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 320px;
    text-align: left;
}

.Link {
    text-decoration: none;
}

.text_color_active {
    color: #fff
}

.list {
    height: 83vh;
    overflow-y: auto;
}

.item {
    width: 844px;
}