.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 590px;
    margin-top: 60px;
}

.state {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ready {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.work {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container {
    width: 272px;
    height: 240px;
    overflow-y: auto;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
}

.ok {
    color: #00cccc;
}

.all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.allorders {
    text-shadow: 0 0 20px #4C4CFF;
}